In [1]:
from H5DataBase import H5DataBase
import pandas as pd
import numpy as np

In [2]:
data_df = pd.DataFrame(data=np.random.rand(10,5), index=pd.date_range('2021-01-01','2021-01-10',freq='D'),columns=np.arange(1,6))
data_df

                   1         2         3         4         5
2021-01-01  0.850350  0.913833  0.528129  0.340639  0.026278
2021-01-02  0.136319  0.278605  0.965719  0.512975  0.836263
2021-01-03  0.025672  0.188206  0.838730  0.283538  0.443650
2021-01-04  0.232190  0.648655  0.980556  0.912469  0.640212
2021-01-05  0.147693  0.918844  0.265016  0.746422  0.266314
2021-01-06  0.074376  0.862960  0.036836  0.078228  0.045283
2021-01-07  0.644686  0.445572  0.537141  0.374815  0.745336
2021-01-08  0.005708  0.354721  0.665218  0.519844  0.722618
2021-01-09  0.369551  0.991206  0.221039  0.672987  0.271365
2021-01-10  0.028013  0.490584  0.889813  0.502162  0.250971

In [3]:
H5DataBase.write_pivotDF_to_h5data(h5FilePath='demo.h5',pivotDF=data_df,pivotKey='random_values',rewrite=True)

In [5]:
H5DataBase(h5FilePath='demo.h5').h5dir()

<dir>  ~
<dir>  ~/meatData
  <file> <5.00 B>  ~/meatData/columns.int32
  <file> <10.00 B>  ~/meatData/index.uint64
<dir>  ~/pivotData
  <file> <50.00 B>  ~/pivotData/random_values.float64

In [6]:
H5DataBase(h5FilePath='demo.h5').known_data

['columns', 'index', 'random_values']

In [7]:
H5DataBase(h5FilePath='demo.h5').load_h5data('index')

array(['2021-01-01T00:00:00.000000000', '2021-01-02T00:00:00.000000000',
       '2021-01-03T00:00:00.000000000', '2021-01-04T00:00:00.000000000',
       '2021-01-05T00:00:00.000000000', '2021-01-06T00:00:00.000000000',
       '2021-01-07T00:00:00.000000000', '2021-01-08T00:00:00.000000000',
       '2021-01-09T00:00:00.000000000', '2021-01-10T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [14]:
H5DataBase(h5FilePath='demo.h5').load_h5data('columns')

array([1, 2, 3, 4, 5])

In [25]:
H5DataBase(h5FilePath='demo.h5').load_pivotDF_from_h5data('random_values')

CPU times: total: 0 ns
Wall time: 1.99 ms

                   1         2         3         4         5
2021-01-01  0.897071  0.925008  0.257320  0.829289  0.634572
2021-01-02  0.581104  0.072635  0.737233  0.125978  0.552459
2021-01-03  0.123421  0.716702  0.447588  0.429219  0.183190
2021-01-04  0.271575  0.615348  0.610521  0.320037  0.047979
2021-01-05  0.810658  0.666168  0.698890  0.268542  0.746118
2021-01-06  0.224889  0.365152  0.565499  0.746300  0.434252
2021-01-07  0.484700  0.930112  0.924013  0.366535  0.784586
2021-01-08  0.981812  0.442943  0.517714  0.955200  0.564205
2021-01-09  0.733093  0.415820  0.240032  0.745761  0.496487
2021-01-10  0.405284  0.816901  0.489468  0.707825  0.801991

In [27]:
H5DataBase.add_pivotDF_to_h5data(h5FilePath='demo.h5',pivotDF=data_df,pivotKey='random_values_copy')

In [28]:
H5DataBase('demo').h5dir()

<dir>  ~
<dir>  ~/meatData
  <file> <5.00 B>  ~/meatData/columns.int32
  <file> <10.00 B>  ~/meatData/index.uint64
  view_dtype = <M8[ns]
<dir>  ~/pivotData
  <file> <50.00 B>  ~/pivotData/random_values.float64
  <file> <50.00 B>  ~/pivotData/random_values_copy.float64